@import "../../constants/variables.scss";

.proj_samples_layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.proj_samples_nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 1000px 1000px 1000px 0px;
}
