@import "../../../constants/variables.scss";

$card-width: 50vmin;

.card {
  cursor: default;
  position: absolute;
  background-color: $color-1-primary-light;
  color: $color-1-primary-dark;
  aspect-ratio: 1.6 / 1;
  position: relative;
  width: $card-width;
  font-size: 30px;
  padding: 3px;

  align-self: center;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  text-overflow: ellipsis;
}

.card-sweep {
  pointer-events: none;
  cursor: default;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0% 100%;
  transition: transform 300ms ease;
  overflow: hidden;
}

.card-header {
  pointer-events: none;
  cursor: default;
  background-color: $color-1-accent;
  height: inherit;
  width: inherit;
  position: absolute;
  left: 0px;
  top: 0px;

  transform-origin: 0% 100%;
  transition: transform 300ms ease;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 56px;
  text-overflow: clip;
}

.card:has(.card-body:hover) > .card-sweep {
  transform: rotate(-90deg);
}

.card:has(.card-body:hover) > .card-sweep > .card-header {
  transform: rotate(90deg);
}
