$color-1-primary: #0a9396;
$color-1-primary-dark: #005f73;
$color-1-primary-light: #94d2bd;
$color-1-accent: #e9d8a6;

$color-2-primary: #ae2012;
$color-2-primary-dark: #9b2226;
$color-2-primary-light: #bb3e03;
$color-2-accent: #ee9b00;

$color-grey: #c0c0c0;
$color-black: #000;
$color-white: #fff;

$nav-transition-time: 600ms;

:export {
  navTransitionTime: $nav-transition-time;
}
