@import "../../constants/variables.scss";

nav {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 1000px;
  background-color: $color-1-primary;
  transition: transform 300ms ease, width $nav-transition-time ease, height $nav-transition-time ease,
    border-radius $nav-transition-time ease;
}

nav:hover {
  transform: scale(1.15);
}

nav:active {
  transform: scale(0.8);
}

nav[data-nav-open="true"] {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

nav[data-nav-open="true"]:hover {
  transform: none;
}

nav[data-nav-open="true"]:active {
  transform: none;
}
