@import "constants/variables";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $color-white;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-1-accent;
}

.nav-placement {
  position: absolute;
  top: 90%;
  left: 5%;
}
